
body{
  background-color: #eee;
}

.frame {
  margin: auto;
  margin-top: 50px;
  width: 440px;
  height: 420px;
  background: #ccc;
}

.center {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}

.white{
  background-color: rgb(255, 255, 255);
}