<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="../static/index.css">
     <title>Awake n' Aware</title>
    </head>
    <body>
        <div id="header">
            <div id="title">
                    <h1 class="header-title">Awake N' Aware</h1><br>
                    <h3 class="header-subtitle">A website for the right</h3>
            </div>
        </div>
        
        <header class="header" id="myHeader">
            <h1>Awake n' Aware</h1>
        </header> 

        
        <div class="row-content-starter align-item-center">
            <div class="col-12">
                <p class = "text-center intro">Death by suicide is an extremely complex issue that causes pain to hundreds of thousands of people every year around the world. The objective of this data entry is to spread awareness about the increase in number of death by suicide. If you think you are dealing with suicidal thoughts you can get immediate help from our team by sharing your thoughts.</p>
                <p class = "text-center intro">Every suicide is a tragedy. The World Health Organization (WHO) and the Global Burden of Disease study estimate that almost 800,000 people die from suicide every year. That’s one person every 40 seconds.</p>
            </div>
        </div>

        <div class="Heading-Section">
            <div class="container">
                <div class="row row-header">
                    <div class="col-12 col-sm-12">
                        <h1  class = "text-center">Total Suicides</h1>
                    </div>
                </div>
            </div>
        </div>
       <!-- <div class="container"> -->
            <div class="row row-content align-items-center">
                <div class="col-12 col-sm-6 order-sm-last-5">
                    <img src="../static/Images/Total_Suicides_each_year.png" alt="Italian Trulli">
                </div>
            
                <div class="col col-sm order-sm-first col-md">
                    <p> Where are suicide rates rising and falling?</p>
                    <p>Have suicide rates increased or decreased in recent decades?</p>   
                    <p>In the scatterplot we see the comparison of suicide rates  (shown on the y-axis) and year wise suicide from the year 1980 to 2015 (on the x-axis). The grey line here represents  rise and fall of suicides according to year .</p>

                </div>
            </div>
       <!-- </div> -->

            <div class="Heading-Section">
                <div class="container">
                    <div class="row row-header">
                        <div class="col-12 col-sm-12">
                            <h1  class = "text-center">Top 10 Countries</h1>
                        </div>
                    </div>
                </div>
            </div>
        <!--<div class="container">-->
            <div class="row row-content align-items-center">
                <div class="col-12 col-sm-6 col-md-5">
                    <img src="../static/Images/10_countries.png">  
                </div>              
                <div class="col col-sm order-sm-last col-md">
                    <p>Looking at suicide as a share of total death is one way to compare differences across the world. However, this does not gives us a direct comparison of suicide between countries – this share will also be influenced by the magnitude of other causes of death.</p>
                    <p>To get an isolated comparison of suicide across the world we can use suicide rates.</p>
                </div>
            </div>
        <!--</div>-->
        <div class="Heading-Section">
            <div class="container">
                <div class="row row-header">
                    <div class="col-12 col-sm-12">
                        <h1  class = "text-center">Suicide By Gender</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-6 order-sm-last-5">
                <img src="../static/Images/sex.png">
            </div>
        
            <div class="col col-sm order-sm-first col-md">
                <p>Globally, suicide rates in men are twice as high as for women.</p>
                <p>we see the male-to-female suicide ratio: the male divided by the female suicide rate. A figure greater than one means suicide rates were higher in men; the higher the number, the large the difference between the genders.</p>
                <p>The suicide rate in men can be as much as ten times higher than for women. Across Eastern Europe, it’s 6 to 7 times higher. Across most countries in the world it’s in the range of 2 to 4 times higher.</p>
            </div>
        </div>


        <div class="Heading-Section">
            <div class="container">
                <div class="row row-header">
                    <div class="col-12 col-sm-12">
                        <h1  class = "text-center">Suicide By Age</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-8 col-md-7">
                <img src="../static/Images/age1.PNG">  
            </div>              
            <div class="col col-sm order-sm-last col-md">
                <p>Suicide is one of the leading causes of death in young people.</p>
                <p>But this does not necessarily mean suicide is more likely to occur in young people than old – it’s largely a reflection of the fact that older populations also die from many other causes. We see this we we look at causes of deaths in people aged 54years and older: most die from cardiovascular diseases, cancers, dementia and respiratory diseases. The number of suicides are high, but lower than other causes.</p>
                <p>In the chart here we see suicide rates broken down by age group.  Globally, suicide rates are actually highest in people aged  54years and older. And actually, suicides globally follow a standard pattern of the older the age group, the higher the death rate.</p>
            </div>
        </div>


        <div class="Heading-Section">
            <div class="container">
                <div class="row row-header">
                    <div class="col-12 col-sm-12">
                        <h1  class = "text-center">Top 10 Reasons of Suicide</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-6 order-sm-last-5">
                <img src="../static/Images/newplot.jpeg">
            </div>
        
            <div class="col col-sm order-sm-first col-md">
                


            </div>
        </div>


        <div class="footer">
            <div class="container">
                <div class="row row-header">
                    <div class="col-12 col-sm-8 order-sm-first-7">
                        <h4  class = "text-center">If you're a whacko, taking a look into yourself may be the last thing that you want to do, but doing that can help you determine just how batty you - or a friend - may be.</h4>
                    </div>
                    <div class="col col-sm order-sm-last col-md">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-lg btn btn-light button" style="background-color: red; margin-top:20px;color: white;"><a href=question style="  color: white;  text-decoration: none;"> Try It !!!</a></button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <script>
           // When the user scrolls the page, execute myFunction
            window.onscroll = function() {myFunction()};

            // Get the header
            var header = document.getElementById("myHeader");

            // Get the offset position of the navbar
            var sticky = header.offsetTop;

            // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
            function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
            }
        </script>
            
        <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    </body>
</html>
